*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.box{
    width: 70%;
    height: 20%;
    position: relative;
    top: 50%;

    display: flex;
    justify-content: center;
    margin: auto;
    transform: translateY(-50%);
    /* background-color: blanchedalmond; */
}
.box .text{
    text-align: center;
    display: block;
    color: lawngreen;
    text-shadow: 0px 0px 20px rgb(175, 211, 141);
    font-size: 5em;
    font-family: sans-serif;
    font-weight: 900;
    height: 8rem;
    width: 8rem;transition: all 1s;
    transform-origin: bottom;
    transform: skewx(-30deg) rotateY(-40deg);
    animation: anim 2s infinite;
    /* background-color: blueviolet; */
}
.box .text:nth-child(1){
    animation-delay: 0s;
}
.box .text:nth-child(2){
    animation-delay: 0.2s;
}
.box .text:nth-child(3){
    animation-delay: 0.3s;
}
.box .text:nth-child(4){
    animation-delay: 0.4s;
}
.box .text:nth-child(5){
    animation-delay: 0.5s;
}
.box .text:nth-child(6){
    animation-delay: 0.6s;
}
.box .text:nth-child(7){
    animation-delay: 0.7s;
}
@keyframes anim{
    0%{
        transform: skewX(-30deg) rotatey(-40deg);
        text-shadow: 8px 0px 20px -2px rgb(175, 211, 141);
    }
    /* 25%{
         transform: scale(1.1);
    } */
    50%{
        transform: skewX(30deg) rotateY(40deg);
        text-shadow: -8px 0px 20px rgb(175, 211, 141);
    }
    /* 75%{
        transform: scale(1.1);
   } */
    100%{
        transform: skewX(-30deg) rotatey(-40deg);
        text-shadow: 8px 0px 20px rgb(175, 211, 141);
    }
}
@media only screen and (max-width:1024px){
    .box .text{
        font-size: 2.5em;
        height: 4rem;
        width: 4rem;
    }
}
@media only screen and (max-width:500px){
    .box .text{
        font-size: 1.4em;
        height: 2rem;
        width: 3rem;
    }
}