*{
    scroll-behavior: smooth;
    scroll-margin-block-start: 5rem;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --primary_color: rgb(0, 226, 190);
    --secondary_color: rgb(16, 212, 183);
    --tertiary_color: rgb(110 181 159);
}
body{
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 2px;
    background-color:rgb(213, 230, 220) ;
}

html::-webkit-scrollbar-thumb{
    background-color: rgb(68, 68, 68,.5);
}
::selection{
    background-color: rgba(46, 168, 142, 0.534);
    color: rgba(255, 255, 255, 0.733);
}
.not_select{
    cursor: default;
    user-select: none;
}
.text{
    color: white;
}
         /*/////////////////////////////////// Navigation bar : start form here//////////////////////////////////*/

#nav{
    width: 100vw;
    height: 40vh;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    position: sticky;
    top: calc(-40vh + 4rem);
    left: 0;
    z-index: 2;
    background-color: var(--primary_color);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);

    animation: changecolor 2s  linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}
@keyframes changecolor{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
                                               /* nav : name container */
#nav #name_box{
    height: 4rem;
    width: 26rem;
    position: sticky;
    top: 0;
    margin: 2rem 0 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: .6s;
    box-shadow: 0 20px 30px -31px black;
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0),
                    rgba(255, 255, 255, 0.301),rgba(255, 255, 255, 0));
    /* border-top-right-radius:50% ;
    border-top-left-radius:50% ; */
}
#nav #name_box .name_items{
    height: fit-content;
    width: fit-content;
    display: block;
    transition: all 2s;
    color: rgb(255, 255, 255);
    font-size: 3.0em;
    font-weight: 400;
    text-align: center;
}
#nav #name_box .name_items:hover{
    transform: scale(1.2);
    transition: all 0s;
    font-weight: 500;
    text-shadow: 0 0 40px rgba(78, 78, 78, 0.479);
}
                                                        /* nav option list  */
#nav #nav_list_box{
    background-color: var(--primary_color);
    display: flex;
    height: 4rem;
    width: 40rem;
    position: sticky;
    left: auto;
    top:0;
    align-self: baseline;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
#nav #nav_list_box .option_items a,
#nav #nav_list_box .option_items
{
    height: auto;
    width: auto;
    color: white;
    text-shadow: 0 0 2px rgb(255, 255, 255);

    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding: .1rem .4rem;
    transition: all .19s;
}
#nav #nav_list_box .option_items:hover
{
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.301),
    rgba(255, 255, 255, 0));
    box-shadow:  0 5px 10px -6px rgb(76, 76, 76,.11);;
    transition: .15s;
    transform: scale(1.15);

}
#nav #nav_list_box .option_items a:active{     /* on click */
    color: rgba(124, 124, 124, 0.76);
}

        /*//////////////////////////////////// Navigation bar : stopped here  ///////////////////////////////////*/


                                        /* Main container  is :start form here */

                                        
.main_container{
    position: relative;
    top: 0rem;
    width: 100vw;
    height: 450vh;
    background-color: var(--tertiary_color);
    
    animation: changecolor 2s  linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

                                        /* Main container  is :end here */


                    /* This is first box */
.main_container .first_box{
    position: relative;
    top: 0;
    left: 0;
    height: 26rem;
    width: auto;
    border-bottom:2px solid rgba(255, 255, 255, 0.349);
}
                                        
                                        
                    /* Under first box : intro_box container */
.main_container #intro{
    position: absolute;
    top: 2rem;
    display: block;
    height: 400px;
    width: 900px;
    line-height: 160%;
    /* text-shadow: -1px 0 0px rgba(0, 0, 0, 0.404); */
    /* border: 2px solid rgba(245, 245, 245, 0.329); */
    font-size: 1.6em;
    margin: 4rem 0 0 2rem;
}
.main_container #intro .first_letter{
    font-size: 2em;
    /* background-color: blue; */
}
.main_container #intro .second_letter{
    font-size: 1.6em;
    /* background-color: blue; */
}
.main_container #intro .third_letter{
    font-size: 1.3em;
    /* background-color: blue; */
}

                   /* Under Under first box : Update box container */

.main_container #update_box #text::-webkit-scrollbar{
    display: none;
}
.main_container #update_box{
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 20rem;
    width: 24rem;
    padding: 20px; 
    color: white;
    overflow: hidden;
    transition: .3s;
    background-color: var(--tertiary_color);
    border-left: 3px solid rgba(255, 255, 255, 0.24);
    border-right: 3px solid rgba(255, 255, 255, 0.24);
    /* box-shadow: 0px 0px 0px 0px var(--tertiary_color); */
}
.main_container #update_box:hover{
    transition: .2s;
    background-color: rgb(131, 189, 170);
}

                   /* Under Under first box : Update box container: text */

.main_container #update_box #text{
    text-align: justify;
    overflow-y: auto;
    position: relative;
    z-index: 2;
    margin-top: 20rem;
    animation: scrolling 30s linear infinite;
}
@keyframes scrolling{
    from{
        margin-top: 20rem ;
    }
    to{
        margin-top: -58rem;
    }
}
.main_container #update_box:hover > #text{
    animation-play-state: paused;
    /* overflow-y: scroll; */
}
                  /* Under first box :Update box container: text heading*/

.main_container #update_box #text_h{
    width: inherit;
    height: 3rem;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:0;
    top: 0;
    transition: .3s;
    background-color: var(--tertiary_color);
}
.main_container #update_box:hover > #text_h{
    background-color: rgb(131, 189, 170);
    transition: .2s;
}
                                      /* first box : END here*/


                                    /*  projects_box : start here */

.main_container .projects_box,
.heading_box_style
{
    position: relative;
    top: 0;
    left: 0;
    height: 34rem;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.349);
}
.main_container .projects_box #projects_h,
.heading_style
{
    margin: 1rem 0 0 2rem;
    padding: .2rem .6rem;
    font-size: 1.6em;
    font-weight: lighter;
    text-shadow:  0 0 20px 0px black;
    /* border-top-left-radius: px;
    border-bottom-left-radius: 5px; */
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0.205),rgba(255, 255, 255, 0));
}

                                     /*projects_box : projects list box */

.main_container .projects_box #projects_list{
    height: 30px;
    width: inherit;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 1rem 0 0 0;
    background-color: rgba(255, 255, 255, 0.068);
    list-style-type: none;
    display: flex;
    align-items: center;
}
.main_container .projects_box #projects_list::-webkit-scrollbar{
    display: none;
}
.main_container .projects_box .projects_list_box .projects_items{
    margin: 0 .4rem;
    padding: 0 0.5rem;
    font-size: 1.2em;
    border-radius: 6px;
    border: .2px solid white;
    cursor: pointer;
}
.main_container .projects_box .projects_list_box #p_item1{
    margin-left: 2rem;
}
.main_container .projects_box .projects_list_box .projects_items:hover{
    background-color: rgba(255, 255, 255, 0.212);
}
.main_container .projects_box .frame_box{
    margin-top: .5rem;
    height: 68vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.253);
}


                                             /* SERVICE box  : start here */

.main_container .service_box{
    position: relative;
    top: 0;
    left: 0;
    height: 34rem;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.349);
}
.main_container .service_box .service_text_box{
    width: 50%;
    line-height: 150%;
    margin: 2rem 0 0 4rem;
    font-size: 1.6em;
    /* background-color: rgba(255, 255, 255, 0.137); */
}


                                              /* About us box : start here */

/* .main_container .aboutus_box {
    position: relative;
    top: 0;
    left: 0;
    height: 34rem;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.349);
} */

.main_container .aboutus_box #aboutus_text1{
    width: 50%;
    line-height: 150%;
    margin: 2rem 0 0 2rem;
    font-size: 1.5em;
    /* background-color: rgba(255, 255, 255, 0.137); */
}

.main_container .aboutus_box #aboutus_text2{
    width: 50%;
    line-height: 150%;
    margin: 2rem 0 0 2rem;
    font-size: 1.2em;
}
.main_container .aboutus_box #aboutus_text3{
    width: 50%;
    line-height: 150%;
    margin: 2rem 0 0 2rem;
}

                                                 /* contact us box :start here */
.main_container .contactus_box {
    position: relative;
    top: 0;
    left: 0;
    height: 34rem;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.349);
}


















/* #logo{
    width: 100px;
    height: 60px;
    position: absolute;
    right: 2rem;

} */















@media only screen and (max-width:786px){
    /* header{
        width: 100vw;
        height: 40vh;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    } */

    .name_container{
        width: 22rem;
        height: 5rem;
        margin: 4rem 2.5rem;
    }
    .name_container:hover{
        width: calc(22rem + .2rem);
        height: calc(5rem + .4rem);
        margin: calc(4rem - .2rem) calc(2.5rem - .2rem);
    }
    .name_container .textli{
        height: 1.2em;
        width: 1.2em;
        font-size: 2.4em;
    }
    .name_shadow{
        width: 14rem;
        height: 5rem;
        margin: 1rem 5.8rem;
    }
    .name_container:hover + .name_shadow{
        width: calc(14rem + .4rem);
        height: calc(5rem + .4rem);
        margin: calc(1rem - .2rem) calc(5.8rem - .2rem);
    }
    .main_container #div1{
        position: absolute;
        top: 20rem;
        left: 1.35rem;
        height: 18rem;
        width: 23rem;
        padding: 10px; 
    }
    .main_container #div1:hover{
        box-shadow: -1.0px 1.0px 5px -1px rgba(22, 122, 114, 0.747);
        transition: .2s;
        transition-timing-function: ease-in;
        background-color:rgba(60, 190, 179, 0.322);
        top: 20.2rem;
        left: 1.32rem;
    }
    .main_container #div1:hover::before{
        left: -20px;
        transition: .2s;
        transition-timing-function: ease-in-out;
    }
    .main_container #div1:hover > #text{
        animation-play-state: paused;
        overflow-y: scroll;
    }
}