#nav{
    /* width: 100%; */
    /* height: 30vh; */
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: space-between;*/
    /* position: sticky; */
    top: calc(-40vh + 3.4rem);
    /*left: 0;
    z-index: 2;
    background-color: var(--primary_color);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);

    animation: changecolor 2s  linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s); */
}
#nav #name_box{
    height: 3.4rem;
    width: 26rem;
    position: sticky;
    top: 0;
    margin: 4rem auto auto auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: .6s;
    box-shadow: 0 20px 30px -31px black;
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0),
                    rgba(255, 255, 255, 0.301),rgba(255, 255, 255, 0));
    /* border-top-right-radius:50% ;
    border-top-left-radius:50% ; */
}
#nav #name_box .name_items{
    font-size: 2.2em;
}

@media only screen and (max-width:430px){
    #nav #name_box{
        height: 2.4rem;
        width: 18rem;
    }
    #nav{
        /* height: 30vh; */
        /* flex-wrap: wrap; */
        top: calc(-40vh + 2.4rem);
    }
    #nav #name_box .name_items{
        font-size: 1.9em;
    }
}
@media only screen and (max-width:290px){
    #nav{
        top: calc(-40vh + 2rem);
    }
    #nav #name_box{
        height: 2rem;
        width: 10rem;
    }
    #nav #name_box .name_items{
        font-size: 1.6em;
    }
}
#nav #nav_list_box{
    display: none;
}
/* #nav #nav_list_box .option_items a,
#nav #nav_list_box .option_items
{
    height: auto;
    width: auto;
    color: white;
    text-shadow: 0 0 2px rgb(255, 255, 255);

    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding: .1rem .4rem;
    transition: all .19s;
} */
/*//////////////////////////////////// Navigation bar : stopped here  ///////////////////////////////////*/


                                       /* Main container  is :start form here */
.main_container{
   height: 490vh;
}


                             /* This is first box */
.main_container .first_box{
    height: 46rem;
    width: auto;
}
                                                            
                                                            
                              /* Under first box : intro_box container */
.main_container #intro{
    height: auto;
    width: fit-content;
    left: 50%;
    transform: translatex(-50%);
    margin: 0 0;
    padding: 1rem 1rem;
    font-size: 1.2em;
}


                   /* Under Under first box : Update box container */

.main_container #update_box{
    top:auto;
    bottom: 2rem;
    left: 1rem;
    right: 1rem;
    width: auto;
   
}


                  /* Under first box :Update box container: text heading*/

.main_container #update_box #text_h{
    width: 100%;
}



                                   /* first box : END here*/


                                     /*  projects_box : start here */
.main_container .projects_box,
.heading_box_style
{
    /* position: relative; */
    /* top: 0; */
    /* left: 0; */
    /* height: 34rem; */
    /* width: 100%; */
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.349); */
}
.main_container .projects_box #projects_h,
.heading_style
{
    margin: .5rem 0 0 .5rem;
    padding: .2rem .6rem;
    font-size: 1.2em;
    /* font-weight: lighter; */
    /* text-shadow:  0 0 20px 0px black; */
    /* border-top-left-radius: px;
    border-bottom-left-radius: 5px; */
    /* background-image:linear-gradient(to right, rgba(255, 255, 255, 0.205),rgba(255, 255, 255, 0)); */
}

  
                                     /*projects_box : projects list box */

.main_container .projects_box #projects_list{
    height: 20px;
    /* width: inherit; */
    margin: .5rem 0 0 0;
    /* background-color: rgba(255, 255, 255, 0.068); */
    /* list-style-type: none; */
    /* display: flex; */
    /* align-items: center; */
}
.main_container .projects_box .projects_list_box .projects_items{
    margin: 0.5rem;
    padding: 0 0.5rem;
    font-size: .8em;
    border-radius: 6px;
    border: .2px solid white;
    cursor: pointer;
}
.main_container .projects_box .projects_list_box #p_item1{
    margin-left: .6rem;
}
.main_container .projects_box .frame_box{
    height: 74vh;
}



                                          /* SERVICE box  : start here */
.main_container .service_box .service_text_box{
   width: 80%;
   margin: 1rem 0 0 2rem;
   font-size: 1em;
   /* background-color: rgba(255, 255, 255, 0.137); */
}


                                              /* About us box : start here */

.main_container .aboutus_box #aboutus_text1{
    width: 90%;
    margin: .5rem 0 0 1rem;
    font-size: .8em;
    background-color: rgba(255, 255, 255, 0.137);
}

.main_container .aboutus_box #aboutus_text2{
    width: 90%;
    margin: 1rem 0 0 1rem;
    font-size: .8em;
}
.main_container .aboutus_box #aboutus_text3{
    width: 90%;
    margin: 2rem 0 0 1rem;
    font-size: .7em;
}