/* .nav_100{

} */
#nav{
    /* flex-wrap: wrap; */
    top: calc(-40vh + 3.4rem);
  
}
.name_box_100{
    height: 6rem;
    width: 36rem;
    position: sticky;
    top: 0;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(4px);
    transition: 1s;
    /* box-shadow: 0 20px 30px -31px black; */
    /* background-image: linear-gradient(to right,rgba(255, 255, 255, 0), */
                    /* rgba(255, 255, 255, 0.301),rgba(255, 255, 255, 0)); */
    /* border-top-right-radius:50% ;
    border-top-left-radius:50% ; */ 
}
.name_box{
    height: 3.4rem;
    width: 26rem;
}
.name_items{
    font-size: 2.2em;
}

@media only screen and (max-width:430px){

    #nav{
        top: calc(-40vh + 2.4rem);
    }
    .name_box_100{
        height: 2.4rem;
        width: 16rem;
    }
    .name_box{
        height: 2.4rem;
        width: 16rem;
    }
    .name_items_100{
        font-size: 2em;
    }
    .name_items{
        font-size: 1.9em;
    }
    #form .form_box{
        /* max-width: rem; */
        width: calc(var(--width) - 4rem);
        padding: .5rem;
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.158), rgba(255, 255, 255, 0));
    }
    .input{
        /* position: static; */
        /* outline: none; */
        margin: .2rem 0;
        color: white;
        padding: .2rem .2rem;
        height: auto;
        /* width: 100%; */
        /* background-color: rgba(255, 255, 255, 0); */
        /* border-style: none; */
        /* border-bottom: 1px solid rgb(255, 255, 255); */
    }
    .input_cont{
        width: 16rem;
    }
    .input_cont img{
        /* position: static; */
        /* opacity: .6; */
        height: 18px;
        width: 18px;
        margin: 4px;
        /* user-select: none; */
        /* background-color: rgb(131, 131, 131); */
    }
    .main_container .contactus_box #form .form_box textarea::placeholder,
    .main_container .contactus_box #form .form_box .input::placeholder{
        /* padding: .4rem 1rem; */
        /* user-select: none; */
        font-size: 1em;
        /* color: rgba(255, 255, 255, 0.596); */
    }
    #submit{
        /* outline: none; */
        margin-top: .5rem;
        width: 6rem;
        padding: .2rem;
        color: white;
        letter-spacing: 2px;
        font-size: .9em;
        background-color: rgba(0, 0, 0, 0.158);
        border: 1px solid rgba(245, 244, 244, 0.808);
    }
}
@media only screen and (max-width:290px){
    #nav{
        top: calc(-40vh + 2rem);
    }
    #name_box{
        height: 2rem;
        width: 14rem;
    }
    .name_items_100{
        font-size: 1em;
    }
    .name_items{
        font-size: 1em;
    }
}
#nav_list_box{
    display: none;
}
/* #nav #nav_list_box .option_items a,
#nav #nav_list_box .option_items
{
    height: auto;
    width: auto;
    color: white;
    text-shadow: 0 0 2px rgb(255, 255, 255);

    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding: .1rem .4rem;
    transition: all .19s;
} */
/*//////////////////////////////////// Navigation bar : stopped here  ///////////////////////////////////*/


                                       /* Main container  is :start form here */
/* .main_container{
   height: 490vh;
} */
/*  */

                             /* This is first box */                                                            
                                                            
                              /* Under first box : intro_box container */
.intro_box{
    height: auto;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    font-size: 1.3em;
}


                   /* Under Under first box : Update box container */

.update_box{
    height: 14rem;
    width: 40rem;
    padding: 20px; 
    margin: 1rem;
}
@media only screen and (max-width:780px){
    .name_box_100{
        width: 26rem;
    }
    .name_box{
        width: 18rem;
    }
    .name_items_100{
        font-size: 4em;
    }
    .name_items{
        font-size: 2em;
    }
    .first_box{
        flex-direction: column;
    }
    .intro_box{
        height: auto;
        margin: 0 0;
        padding: 2rem 2rem;
        font-size: 1.1em;
    }
    .update_box{
        height: 14rem;
        width: auto;
        max-width: 26rem;
        padding: 20px; 
        margin: 1rem;
    }
}


                  /* Under first box :Update box container: text heading*/




                                   /* first box : END here*/


                                     /*  projects_box : start here */
.main_container .projects_box,
.heading_box_style
{
    /* position: relative; */
    /* top: 0; */
    /* left: 0; */
    /* height: 34rem; */
    /* width: 100%; */
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.349); */
}
.main_container .projects_box #projects_h,
.heading_style
{
    margin: .5rem 0 0 1rem;
    padding: .2rem .6rem;
    font-size: 1.2em;
    /* font-weight: lighter; */
    /* text-shadow:  0 0 20px 0px black; */
    /* border-top-left-radius: px;
    border-bottom-left-radius: 5px; */
    /* background-image:linear-gradient(to right, rgba(255, 255, 255, 0.205),rgba(255, 255, 255, 0)); */
}

  
                                     /*projects_box : projects list box */

.projects_list_box
{
    height: 24px;
}
.projects_list_box_over{
    height: 26px;
    top:4.22rem;
}

.projects_items a{
    padding: .1rem 1rem;
     font-size: 1em;
}
#p_item1 a{
    margin-left: 1rem;
}



                                          /* SERVICE box  : start here */
.main_container .service_box .service_text_box{
   width: 80%;
   margin: 1rem 0 0 2rem;
   font-size: 1em;
   /* background-color: rgba(255, 255, 255, 0.137); */
}


                                              /* About us box : start here */

.main_container .aboutus_box #aboutus_text1{
    width: 90%;
    margin: .5rem 0 0 1rem;
    font-size: .8em;
    background-color: rgba(255, 255, 255, 0.137);
}

.main_container .aboutus_box #aboutus_text2{
    width: 90%;
    margin: 1rem 0 0 1rem;
    font-size: .8em;
}
.main_container .aboutus_box #aboutus_text3{
    width: 90%;
    margin: 2rem 0 0 1rem;
    font-size: .7em;
}

.contactus_box #form{
    width: 100%;
    /* align-self: center; */
}